{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
          <h1>{{ article.title }}</h1>
          <hr>
          <h3>By {{ article.author }}</h3>
          <hr>
          <p>{{ article.body }}</p>
          <hr>
       </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
{% if article.thumbnail %}
<p><img src = "/assets/{{article.thumbnail}}" height = "300" width = "600"/></P>
{% endif %}
       </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <form action="#" method="post" class="form-horizontal" id="commentForm" role="form"> {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Comment</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">                    
                        <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                    </div>
                </div>            
            </form>
            </div>
    </div>
</div>



{% endblock %}
